USE [database]
GO
/****** Object:  UserDefinedFunction [dbo].[ascii_address]    Script Date: 8/30/2025 12:12:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER FUNCTION [dbo].[ascii_address] (@string varchar(100))
RETURNS varchar(100)
AS
BEGIN
DECLARE @inputString VARCHAR(50) = @string;
DECLARE @counter INT = 1;
DECLARE @stringLength INT = LEN(@inputString);
declare @result VARCHAR(50) = ''

WHILE @counter <= @stringLength
BEGIN
       SET @result = @result + CASE WHEN  char(ASCII(SUBSTRING(@inputString, @counter, 1))+1) = '!' THEN ' ' ELSE char(ASCII(SUBSTRING(@inputString, @counter, 1))+1) END
    SET @counter = @counter + 1;
END
return (@result)
end
;

