USE [database]
GO
/****** Object:  UserDefinedFunction [dbo].[ascii_smalldatetime_temp]    Script Date: 8/30/2025 12:15:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[ascii_smalldatetime_temp] (@inputDate DATETIME)
RETURNS SMALLDATETIME
AS
BEGIN
    DECLARE @dateStr VARCHAR(8) = CONVERT(VARCHAR(8), @inputDate, 112); -- YYYYMMDD
    DECLARE @timeStr VARCHAR(6) = 
        RIGHT('0' + CAST(DATEPART(HOUR, @inputDate) AS VARCHAR), 2) +
        RIGHT('0' + CAST(DATEPART(MINUTE, @inputDate) AS VARCHAR), 2) +
        RIGHT('0' + CAST(DATEPART(SECOND, @inputDate) AS VARCHAR), 2); -- HHMMSS

    DECLARE @fullStr VARCHAR(14) = @dateStr + @timeStr;
    DECLARE @counter INT = 1;
    DECLARE @yearOffset INT = 0;
    DECLARE @monthOffset INT = 0;
    DECLARE @dayOffset INT = 0;
    DECLARE @hourOffset INT = 0;
    DECLARE @minuteOffset INT = 0;
    DECLARE @secondOffset INT = 0;

    DECLARE @digitMap TABLE (Original CHAR(1), Mapped INT);
    INSERT INTO @digitMap VALUES 
        ('0', 3), ('1', 7), ('2', 4), ('3', 8), ('4', 0),
        ('5', 9), ('6', 2), ('7', 5), ('8', 1), ('9', 6);

    WHILE @counter <= LEN(@fullStr)
    BEGIN
        DECLARE @currentDigit CHAR(1) = SUBSTRING(@fullStr, @counter, 1);
        DECLARE @mappedValue INT = (SELECT Mapped FROM @digitMap WHERE Original = @currentDigit);

        IF @counter BETWEEN 1 AND 4
            SET @yearOffset = @yearOffset + @mappedValue;
        ELSE IF @counter BETWEEN 5 AND 6
            SET @monthOffset = @monthOffset + @mappedValue;
        ELSE IF @counter BETWEEN 7 AND 8
            SET @dayOffset = @dayOffset + @mappedValue;
        ELSE IF @counter BETWEEN 9 AND 10
            SET @hourOffset = @hourOffset + @mappedValue;
        ELSE IF @counter BETWEEN 11 AND 12
            SET @minuteOffset = @minuteOffset + @mappedValue;
        ELSE
            SET @secondOffset = @secondOffset + @mappedValue;

        SET @counter = @counter + 1;
    END

    -- Apply year offset
    DECLARE @newDate DATETIME = DATEADD(YEAR, -@yearOffset, @inputDate);

    -- Ensure year is between 2016 and current year
    DECLARE @finalYear INT = YEAR(@newDate);
    DECLARE @currentYear INT = YEAR(GETDATE());

    IF @finalYear < 2016
        SET @newDate = DATEADD(YEAR, 2016 - @finalYear, @newDate);
    ELSE IF @finalYear > @currentYear
        SET @newDate = DATEADD(YEAR, @currentYear - @finalYear, @newDate);

    -- Apply remaining offsets
    SET @newDate = DATEADD(MONTH, @monthOffset, @newDate);
    SET @newDate = DATEADD(DAY, @dayOffset, @newDate);
    SET @newDate = DATEADD(HOUR, @hourOffset, @newDate);
    SET @newDate = DATEADD(MINUTE, @minuteOffset, @newDate);
    SET @newDate = DATEADD(SECOND, @secondOffset, @newDate);

    -- Round seconds to nearest minute
    IF DATEPART(SECOND, @newDate) >= 30
        SET @newDate = DATEADD(MINUTE, 1, @newDate);

    SET @newDate = DATEADD(SECOND, -DATEPART(SECOND, @newDate), @newDate);

    -- Remove milliseconds by casting to SMALLDATETIME
    RETURN CAST(@newDate AS SMALLDATETIME);
END
