USE [database]
GO
/****** Object:  UserDefinedFunction [dbo].[ascii_int]    Script Date: 8/30/2025 12:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[ascii_int] (@int int)
RETURNS int
AS
BEGIN
DECLARE @inputint VARCHAR(100) = @int;
DECLARE @counter INT = 1;
DECLARE @intLength INT = LEN(@inputint);
declare @result VARCHAR(100) = ''
DECLARE @result_1 BIGint = 0

WHILE @counter <= @intLength
BEGIN
       SET @result = CONCAT(@result , CASE WHEN (CHAR(ASCII(SUBSTRING(@inputint, @counter, 1))+9))
       LIKE '[0-9]' THEN (CHAR(ASCII(SUBSTRING(@inputint, @counter, 1))+9))
       ELSE 1 END)
    SET @counter = @counter + 1;
END
SET @result_1 = CAST(@result as bigint)
return reverse(@result_1)
end
;



