USE [database]
GO
/****** Object:  UserDefinedFunction [dbo].[ascii_decimal_temp]    Script Date: 8/30/2025 12:13:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   FUNCTION [dbo].[ascii_decimal_temp] (@input DECIMAL(18,2))
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @isNegative BIT = CASE WHEN @input < 0 THEN 1 ELSE 0 END;

    -- Convert to string and preserve decimal point position
    DECLARE @inputStr VARCHAR(100) = CAST(ABS(@input) AS VARCHAR(100));
    DECLARE @result VARCHAR(100) = '';
    DECLARE @counter INT = 1;
    DECLARE @char CHAR(1);

    -- Digit substitution map (custom cipher)
    DECLARE @digitMap TABLE (Original INT, Mapped INT);
    INSERT INTO @digitMap VALUES 
        (0, 7), (1, 4), (2, 9), (3, 1), (4, 6),
        (5, 0), (6, 3), (7, 8), (8, 2), (9, 5);

    WHILE @counter <= LEN(@inputStr)
    BEGIN
        SET @char = SUBSTRING(@inputStr, @counter, 1);

        IF @char = '.'
        BEGIN
            SET @result = @result + '.'; -- Preserve decimal point
        END
        ELSE
        BEGIN
            DECLARE @digit INT = CAST(@char AS INT);

            -- Get mapped digit from digitMap
            DECLARE @mappedDigit INT;
            SELECT TOP 1 @mappedDigit = Mapped FROM @digitMap WHERE Original = @digit;

            -- Apply position-based shift
            DECLARE @shiftedDigit INT = (@mappedDigit + @counter) % 10;

            SET @result = @result + CAST(@shiftedDigit AS VARCHAR);
        END

        SET @counter = @counter + 1;
    END

    -- Convert back to DECIMAL(18,6)
    DECLARE @finalResult DECIMAL(18,2) = CAST(@result AS DECIMAL(18,2));

    -- Restore sign
    IF @isNegative = 1
        SET @finalResult = -@finalResult;

    RETURN @finalResult;
END
