USE [database]
/****** Object:  UserDefinedFunction [dbo].[ascii_int_temp]    Script Date: 8/30/2025 12:14:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[ascii_int_temp] (@int BIGINT)
RETURNS BIGINT
AS
BEGIN
    DECLARE @inputint VARCHAR(100) = CAST(@int AS VARCHAR(100));
    DECLARE @counter INT = 1;
    DECLARE @intLength INT = LEN(@inputint);
    DECLARE @result VARCHAR(100) = '';
    DECLARE @result_1 BIGINT;

    WHILE @counter <= @intLength
    BEGIN
        DECLARE @digit INT = CAST(SUBSTRING(@inputint, @counter, 1) AS INT);
        SET @digit = (@digit + 3) % 10;  -- Shift digit by 3
        SET @result = @result + CAST(@digit AS VARCHAR);
        SET @counter = @counter +1;
    END

    SET @result_1 = CAST(@result AS BIGINT);
    RETURN @result_1;
END
