USE [database]
GO
/****** Object:  UserDefinedFunction [dbo].[ascii_bit_temp]    Script Date: 8/30/2025 12:13:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[ascii_bit_temp] (@seed INT)
RETURNS BIT
AS
BEGIN
    DECLARE @randomValue INT = ABS(CHECKSUM(@seed)) % 2;
    RETURN CAST(@randomValue AS BIT);
END
