USE [database]
GO
/****** Object:  UserDefinedFunction [dbo].[ascii_date_temp]    Script Date: 8/30/2025 12:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[ascii_date_temp] (@inputDate DATE)
RETURNS DATE
AS
BEGIN
    DECLARE @dateStr VARCHAR(8) = CONVERT(VARCHAR(8), @inputDate, 112); -- YYYYMMDD
    DECLARE @counter INT = 1;
    DECLARE @yearOffset INT = 0;
    DECLARE @monthOffset INT = 0;
    DECLARE @dayOffset INT = 0;
    DECLARE @digitMap TABLE (Original CHAR(1), Mapped INT);

    -- Custom digit mapping
    INSERT INTO @digitMap VALUES 
        ('0', 3), ('1', 7), ('2', 4), ('3', 8), ('4', 0),
        ('5', 9), ('6', 2), ('7', 5), ('8', 1), ('9', 6);

    WHILE @counter <= LEN(@dateStr)
    BEGIN
        DECLARE @currentDigit CHAR(1) = SUBSTRING(@dateStr, @counter, 1);
        DECLARE @mappedValue INT = (SELECT Mapped FROM @digitMap WHERE Original = @currentDigit);

        IF @counter BETWEEN 1 AND 4
            SET @yearOffset += @mappedValue;
        ELSE IF @counter BETWEEN 5 AND 6
            SET @monthOffset += @mappedValue;
        ELSE
            SET @dayOffset += @mappedValue;

        SET @counter += 1;
    END

    -- Apply offsets
    DECLARE @transformedDate DATE = DATEADD(YEAR, @yearOffset, @inputDate);
    SET @transformedDate = DATEADD(MONTH, @monthOffset, @transformedDate);
    SET @transformedDate = DATEADD(DAY, @dayOffset, @transformedDate);

    -- Normalize to range between 2016-01-01 and GETDATE()
    DECLARE @minDate DATE = '2016-01-01';
    DECLARE @maxDate DATE = CAST(GETDATE() AS DATE);
    DECLARE @rangeDays INT = DATEDIFF(DAY, @minDate, @maxDate);
    DECLARE @normalizedDate DATE = DATEADD(DAY, ABS(CHECKSUM(@transformedDate)) % @rangeDays, @minDate);

    RETURN @normalizedDate;
END
